@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.Home__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../assets/stars.svg'), linear-gradient(
        to right,
        rgba(60, 89, 170, 0.034),
        rgba(56, 26, 167, 0.603),
        rgba(44, 84, 172, 0.301)) ;
    background-repeat: repeat;
    margin-bottom: 1rem;
}

.Home__hero> .Home__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Home__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
}

.Home_conf-logo{
    margin-bottom: 2rem;
}
.Home{
    align-content: center;
    text-align: center;
    font-family: 'Anton', sans-serif;
}